*
{
    padding: 0px;
    margin: 0px;
}
/* this is nav bar */
.nav-container{
    
    display: flex;
    padding: 5px;
    justify-content: space-around;
    background-color: rgb(214, 214, 223);
    
}
.logo-container{
    display: inline;
    padding: 5px;
    margin-right: 10px;
    
    
}
.logo{
    margin: -3px 5px 7px;
   
    

}
.web-name{
    margin-left: 50px;
    margin-top: -35px;
    font-weight: 15px;
}
.span{
    color: rgb(45, 45, 224);
}
.info{
    display: inline;
    font-size: 22px;
    padding: 5px;
    list-style: none;
    font-weight: bold;
    margin: 10px 5px 20px;

}
/* this is banner */
.banner
{
    background-image: url(./images/banner/banner3.png);
    
}
.banner-details{
    text-align: right;
    padding: 275px 150px 10px 0px;
    
}
.bold{
    font-weight: bolder;
    font-size: 35px;
    color: white;
}
.paragraph{
    color: white;
    padding-top: 20px;
}
.btn{
    color: blue;
    font-weight: bold;
    padding: 15px;
    border: none;
    margin: 20px 0px 250px;
    border-radius: 4px;
}
/* this is 1st part of main section */
.main-1st{
    display: flex;
    justify-content: space-around;
}
.person{
    margin-top: 50px;
    margin-left: 100px;
    
}
.summery{
   margin-top: 300px;
   margin-right: 70px;
}
.para-1st{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}
.para-2nd{
    padding: 10px;
}
.contrary{
    padding: 10px;
    margin-top: 10px;
   list-style-type: square;
}
/* this is 2nd part of main section */
.plan{
    text-align: center;
    font-weight: bolder;
    font-size: 26px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.blogs{
    display: flex;
}
.blog{
    padding: 20px 120px;
    text-align: center;
}
.blog-name{
    display: flex;
    text-align: center;
    font-weight: bold;
}

.blog-details{
    text-align: center;
    display: flex;
}
/* This is 3rd part of main section */
.main-last{
    background-image: url(./images/watch.png);
    background-repeat: no-repeat;
    background: linear-gradient(to top left, rgb(58, 58, 119));
    width: 100%;
    height: 100%;
    opacity: .6;
    position: absolute;
    margin-left: 90px;
    margin-top: 20px;
    padding-top: 70px;
    padding-left: 60px;


}
.always{
    text-align: left;
    font-weight: bolder;
    font-size: 30px;
    
   
}
/* this is footer  */
.footer{
   margin-top: 400px;
   display: flex;
   color: white;
   background-color: black;
}
.footer-left{
    padding: 60px 20px 60px 0px;
    margin-left: 90px;
    margin-right: 50px;
}
.footer-details{
    margin: 20px 0px;
    padding: 7px 0px;
    
}
.footer-phone{
    margin: 15px 0px;

}
.icons{
    display: flex;
    
}
.icon{
    padding: 5px 5px 5px 0px;
}
.footer-right{
    padding: 60px 20px 60px 0px;
    margin-left: 450px;
    margin-right: 50px;
    
}
.checkbox{
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0px 10px;
    color: white;
}
.button{
    color: white;
    background-color: rgb(95, 95, 218);
    padding: 15px;
    border-radius: 8px;
}